@tailwind base;
@tailwind components;
@tailwind utilities;

.navLink {
    @apply text-darkBlue font-bold border-b-lightBlue pb-2;
}
.navLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #4a6eec;
    transition: width .3s;
}
.navLink:hover::after {
    width: 100%;
}

.logo {
    @apply text-darkBlue font-bold;
}

.home-text {
    @apply font-bold text-4xl whitespace-nowrap
}

.main-btn {
    @apply bg-lightBlue text-white w-fit px-10 py-3 rounded-lg font-bold
}


.home-icon {
    @apply text-2xl text-darkBlue transition-colors duration-500
}

.section-title {
    @apply text-lightBlue font-bold text-3xl border-b-3 border-b-lightBlue mx-auto
}

.contact-input {
    @apply w-full p-4 border border-darkBlue rounded-lg;
}

.contact-input:placeholder {
    color: #686767;
    font-weight: 800;
}

/** ham menu */

.ham {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.ham span {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #000;
    transform: rotate(0);
    transition: all 0.25s;
}

.ham span:nth-child(2) {
    transform: translateY(7px);
}

.ham span:nth-child(3) {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);

}

.open span:nth-child(1) {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open span:nth-child(2) {
    opacity: 0;
}

.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.ham-menu-link {
    @apply text-white font-bold pb-2;
}

.ham-menu.active{
    right: 0;
}